<div class="row">

    <div class="col-md-4">

        <div class="card">
            <div class="card-body">
                <form #hotelesForm="ngForm" (ngSubmit)="addHotel(hotelesForm)">

                    <input type="hidden" name="_id" [(ngModel)]="hotelService.hotelSelected._id">

                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="hotelService.hotelSelected.nombre">
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="personas" placeholder="Personas de la habitación" [(ngModel)]="hotelService.hotelSelected.personas">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="precio" placeholder="Precio" [(ngModel)]="hotelService.hotelSelected.precio"> 
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="dormitorios" placeholder="Dormitorios" [(ngModel)]="hotelService.hotelSelected.dormitorios"> 
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="m2" placeholder="Metros cuadrados" [(ngModel)]="hotelService.hotelSelected.m2">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="localidad" placeholder="Localidad" [(ngModel)]="hotelService.hotelSelected.localidad">
                    </div>

                    <button class="btn btn-primary mr-2 mt-4">Agregar</button>
                    <button class="btn btn-secondary mt-4"  (click)="resetForm(hotelesForm)">Limpiar</button>

                </form>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Personas
                    </th>
                    <th>
                        Localidad
                    </th>
                    <th>
                        Dormitorios
                    </th>
                    <th>
                        Precio/día
                    </th>
                    <th>
                        metros cuadrados
                    </th>
                    <th>
                        Operaciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of hotelService.hoteles">
                    <td>{{hotel.nombre}}</td>
                    <td> {{hotel.personas}}</td>
                    <td>{{hotel.localidad}}</td>
                    <td> {{hotel.dormitorios}}</td>
                    <td>{{hotel.precio}}</td>
                    <td>{{hotel.m2}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editHotel(hotel)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteHotel(hotel._id!)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
