<h3>Compra Adquirida</h3>

<div class="card">
    <div class="card-body">
        <ng-container *ngIf=" this.pedido.estado == 'COMPRADO'; else noPedido">
            <br><h5>Días de viaje: {{this.pedido.dias}}</h5>
            <h5>Periodo de fechas: {{this.pedido.fechaInicio}} - {{this.pedido.fechaFin}}</h5><br>
            <table class="table table-striped" *ngIf=" coche.precio != 0">
                <h6>Coche: </h6>
                <tbody>
                    <tr>
                        <th>Marca: </th> <th>Modelo</th> <th>Asientos</th> <th>Precio/día</th>
                    </tr>
                    <tr>
                        <td>{{this.coche.marca}}</td><td>{{this.coche.modelo}}</td><td>{{this.coche.asientos}}</td>
                        <td>{{this.coche.precio}}€</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <table class="table table-striped" *ngIf=" hotel.precio != ''">
                <h6>Hotel: </h6>
                <tbody>
                    <tr>
                        <th>Nombre</th> <th>Personas</th><th>Dormitorios</th><th>Metros cuadrados</th><th>Precio/noche</th>
                    </tr>
                    <tr>
                        <td>{{this.hotel.nombre}}</td><td>{{this.hotel.personas}}</td><td>{{this.hotel.dormitorios}}</td>
                        <td>{{this.hotel.m2}}</td><td>{{this.hotel.precio}}€</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <table class="table table-striped" *ngIf=" vueloIda.precio != ''">
                <h6>Vuelo de Ida: </h6>
                <tbody>
                    <tr>
                        <th>Empresa</th><th>Asientos</th><th>Origen</th><th>Destino</th><th>Fecha</th><th>Precio</th>
                    </tr>
                    <tr>
                        <td>{{this.vueloIda.empresa}}</td><td>{{this.vueloIda.asientos}}</td><td>{{this.vueloIda.origen}}</td>
                        <td>{{this.vueloIda.destino}}</td><td>{{this.vueloIda.fecha}}</td><td>{{this.vueloIda.precio}}€</td>
                    </tr>
                </tbody>
            </table>
                    
            <br>

            <table class="table table-striped" *ngIf=" vueloVuelta.precio != ''">
                <h6>Vuelo de Vuelta: </h6>
                <tbody>
                    <tr>
                        <th>Empresa</th><th>Asientos</th><th>Origen</th><th>Destino</th><th>Fecha</th><th>Precio</th>
                    </tr>
                    <tr *ngIf=" vueloVuelta.precio != ''">
                        <td>{{this.vueloVuelta.empresa}}</td><td>{{this.vueloVuelta.asientos}}</td><td>{{this.vueloVuelta.origen}}</td>
                        <td>{{this.vueloVuelta.destino}}</td><td>{{this.vueloVuelta.fecha}}</td><td>{{this.vueloVuelta.precio}}€</td>
                    </tr>
                </tbody>
            </table>

            <br><h5>Precio total: </h5> <h4>{{this.precioTotal}}€</h4>
        </ng-container>

        <ng-template #noPedido>
            <p>No se ha realizado ninguna compra por el momento. Realice la compra en el Carro de Compra.</p>
        </ng-template>
    </div>
</div>
