 <!-- RESULTADO DE LA BÚSQUEDA -->



<div class="card">
    <div class="card-body">

        <div>
            <h5>Parámetros seleccionados:</h5>
            <div *ngIf="this.reservasService.data.dias==0; else tablaParams">
                <p>No se ha realizado ninguna reserva. Para ello rellene el formulario.</p>
            </div>
            
            <ng-template #tablaParams>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Días
                            </th>
                            <th>
                                Tipo de viaje
                            </th>
                            <th>
                                Tipo de reserva
                            </th>
                            <th>
                                Personas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{this.reservasService.data.dias}}</td>
                            <td>{{this.reservasService.data.tipoViaje}}</td>
                            <td>{{this.strTipoReserva}}</td>
                            <td>{{this.reservasService.data.personas}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            
        </div>
        <br>

        <form #reservaForm="ngForm" (ngSubmit)="addForm(reservaForm)">

            <h5>Coches disponibles: </h5>
            <div *ngIf="reservasService.reservasCoches.length==0; else tablaCoches">
                <p>No hay coches disponibles para el viaje con los parámetros indicados.</p>
            </div>

            <ng-template  #tablaCoches>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selección
                            </th>
                            <th>
                                Marca
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Asientos
                            </th>
                            <th>
                                Precio/día
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let coche of reservasService.reservasCoches">
                            <td><input type="radio" [(ngModel)]="idCocheSelect" name="reservaCocheSelect" value="{{coche._id}}" text-align="center"/></td>
                            <td>{{coche.marca}}</td>
                            <td> {{coche.modelo}}</td>
                            <td> {{coche.asientos}}</td>
                            <td>{{coche.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            

            <br><h5>Habitaciones de hotel disponibles: </h5>



            <br><h5>Vuelos disponibles: </h5>

            

            <button class="btn btn-primary mr-2 mt-4">Reservar</button>

        </form>
        
    </div>
</div>