 <!-- RESULTADO DE LA BÚSQUEDA -->



<div class="card">
    <div class="card-body">

        <div>
            <h5>Parámetros seleccionados:</h5>
            <div *ngIf="this.reservasService.data.dias==0; else tablaParams">
                <p>No se ha realizado ninguna reserva. Para ello rellene el formulario.</p>
            </div>
            
            <ng-template #tablaParams>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Días
                            </th>
                            <th>
                                Tipo de viaje
                            </th>
                            <th>
                                Tipo de reserva
                            </th>
                            <th>
                                Personas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{this.reservasService.data.dias}}</td>
                            <td>{{this.reservasService.data.tipoViaje}}</td>
                            <td>{{this.strTipoReserva}}</td>
                            <td>{{this.reservasService.data.personas}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            
        </div>
        <br>

        <form #reservaForm="ngForm" (ngSubmit)="addForm(reservaForm)">

                <!-- Coches -->

            <h5>Coches disponibles: </h5>
            <div *ngIf="reservasService.reservasCoches.length==0; else tablaCoches">
                <p>No hay coches disponibles para el viaje con los parámetros indicados.</p>
            </div>

            <ng-template  #tablaCoches>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selección
                            </th>
                            <th>
                                Marca
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Asientos
                            </th>
                            <th>
                                Precio/día
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let coche of reservasService.reservasCoches">
                            <td><input type="radio" [(ngModel)]="reservasService.pedido.idCoche" name="reservaCocheSelect" value="{{coche._id}}" text-align="center"/></td>
                            <td>{{coche.marca}}</td>
                            <td> {{coche.modelo}}</td>
                            <td> {{coche.asientos}}</td>
                            <td>{{coche.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            
                <!-- Habitaciones -->

            <br><h5>Habitaciones de hotel disponibles: </h5>
            <div *ngIf="reservasService.reservasHoteles.length==0; else tablaHoteles">
                <p>No hay hoteles disponibles para el viaje con los parámetros indicados.</p>
            </div>

            <ng-template  #tablaHoteles>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selección
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                personas
                            </th>
                            <th>
                                dormitorios
                            </th>
                            <th>
                                metros cuadrados
                            </th>
                            <th>
                                Precio/noche
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hotel of reservasService.reservasHoteles">
                            <td><input type="radio" [(ngModel)]="reservasService.pedido.idHotel" name="reservaHotelSelect" value="{{hotel._id}}" text-align="center"/></td>
                            <td>{{hotel.nombre}}</td>
                            <td> {{hotel.personas}}</td>
                            <td> {{hotel.dormitorios}}</td>
                            <td>{{hotel.m2}}</td>
                            <td>{{hotel.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
                        
            
                <!-- Vuelos -->
            
            <br><h5>Vuelos de ida disponibles: </h5>
                                      <!-- Vuelos de ida -->

            <div *ngIf="reservasService.reservasVuelosIda.length==0; else tablaVuelosIda">
                <p>No hay vuelos de ida disponibles para el viaje con los parámetros indicados.</p>
            </div>

            <ng-template  #tablaVuelosIda>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selección
                            </th>
                            <th>
                                Empresa
                            </th>
                            <th>
                                Origen
                            </th>
                            <th>
                                Destino
                            </th>
                            <th>
                                fecha de salida
                            </th>
                            <th>
                                asientos
                            </th>
                            <th>
                                Precio
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vueloIda of reservasService.reservasVuelosIda">
                            <td><input type="radio" [(ngModel)]="reservasService.pedido.idVueloIda" name="reservaVueloIdaSelect" value="{{vueloIda._id}}" text-align="center"/></td>
                            <td>{{vueloIda.empresa}}</td>
                            <td> {{vueloIda.origen}}</td>
                            <td> {{vueloIda.destino}}</td>
                            <td>{{vueloIda.fecha}}</td>
                            <td>{{vueloIda.asientos}}</td>
                            <td>{{vueloIda.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>

                                        <!-- Vuelos de vuelta -->

            <br><h5>Vuelos de vuelta disponibles: </h5>
            
            <div *ngIf="reservasService.reservasVuelosVuelta.length==0; else tablaVuelosVuelta">
                <p>No hay vuelos de ida disponibles para el viaje con los parámetros indicados.</p>
            </div>

            <ng-template  #tablaVuelosVuelta>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selección
                            </th>
                            <th>
                                Empresa
                            </th>
                            <th>
                                Origen
                            </th>
                            <th>
                                Destino
                            </th>
                            <th>
                                fecha de salida
                            </th>
                            <th>
                                asientos
                            </th>
                            <th>
                                Precio
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vueloVuelta of reservasService.reservasVuelosVuelta">
                            <td><input type="radio" [(ngModel)]="reservasService.pedido.idVueloVuelta" name="reservaVueloVueltaSelect" value="{{vueloVuelta._id}}" text-align="center"/></td>
                            <td>{{vueloVuelta.empresa}}</td>
                            <td> {{vueloVuelta.origen}}</td>
                            <td> {{vueloVuelta.destino}}</td>
                            <td>{{vueloVuelta.fecha}}</td>
                            <td>{{vueloVuelta.asientos}}</td>
                            <td>{{vueloVuelta.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>


            <button class="btn btn-primary mr-2 mt-4">Reservar</button>

        </form>
        
    </div>
</div>