<head>
    <style>
    h2 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
    </head>

<div class="container">
    <h2>Bienvenido a la Agencia de Viajes de SD!</h2> <br> <br> <br>
    <img src="assets/img/homeImage.jpg">  <br> <br> <br>
    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <div>
            <p>
                Regístrese o Inicie Sesión para acceder a las reservas.
            </p>
        </div>
    </ng-container>

    <ng-template #loggedIn>
        <div>
            <p>Use el formulario para reservar.</p>
        </div>
    </ng-template>
</div>