<div class="card">
    <div class="card-body">
    
        <form [formGroup]="myForm" novalidate (submit)="addForm()">

            <div class="form-group">
                <input type="text" class="form-control" formControlName="origen" name="origen" placeholder="Origen" [ngClass]="{'is-invalid': origenF.errors && (origenF.touched || origenF.dirty), 'is-valid':origenF.valid}">
                <div class="invalid-feedback" >
                    <strong *ngIf="origenF.errors?.required">Localidad de origen requerido</strong>
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" formControlName="destino" name="destino" placeholder="Destino" [ngClass]="{'is-invalid': destinoF.errors && (destinoF.touched || destinoF.dirty), 'is-valid':destinoF.valid}">
                <div class="invalid-feedback" >
                    <strong *ngIf="destinoF.errors?.required">Localidad de destino requerido</strong>
                </div>
            </div>
            
            <div class="form-group">
                <input type="number" class="form-control" name="personas" formControlName="personas" placeholder="Personas" [ngClass]="{'is-invalid': personasF.errors && (personasF.touched || personasF.dirty), 'is-valid':personasF.valid}">
                <div class="invalid-feedback" >
                    <strong *ngIf="personasF.errors?.required">Personas que viajarán requerido</strong>
                </div>
            </div>

            <label> Fechas del viaje: 
                <label class="alert alert-warning" role="alert" *ngIf="errFecha"> La fecha de inicio no puede ser mayor ni igual que la final. </label>
            </label>
            

            <div class="form-group">
                <input type="date" class="form-control" formControlName="fechaOrigen" name="fechaOrigen" placeholder="Fecha de Origen (dd/mm/yyyy)"  [ngClass]="{'is-invalid': fechaOrigenF.errors && (fechaOrigenF.touched || fechaOrigenF.dirty), 'is-valid':fechaOrigenF.valid}"> 
                <div class="invalid-feedback" >
                    <strong *ngIf="fechaOrigenF.errors?.required">Fecha de inicio del viaje requerido</strong>
                </div>
            </div>

            <div class="form-group">
                <input type="date" class="form-control" name="fechaDestino"  formControlName="fechaDestino" placeholder="Fecha de Destino (dd/mm/yyyy)" [ngClass]="{'is-invalid': fechaDestinoF.errors && (fechaDestinoF.touched || fechaDestinoF.dirty), 'is-valid':fechaDestinoF.valid}"> 
                <div class="invalid-feedback" >
                    <strong *ngIf="fechaDestinoF.errors?.required">Fecha final del viaje requerido</strong>
                </div>
            </div>

            <label>Tipo de viaje: </label>
            
            
            <div>
                <ul class="list-group">
                      <li class="list-group-item"  *ngFor="let item of tiposViaje">
                        <input type="radio" name="tipoViaje" formControlName="tipoViaje"  value="{{item.value}}" [ngClass]="{'is-invalid': tipoViajeF.errors && (tipoViajeF.touched || tipoViajeF.dirty), 'is-valid':tipoViajeF.valid}"/> 
                        {{item.name}}
                        <div class="invalid-feedback" >
                            <strong *ngIf="tipoViajeF.errors?.required">Tipo de viaje requerido</strong>
                        </div>
                      </li>
                </ul>
            </div>


 <!-- Reservas  -->
            <br><label>Tipo de Reserva:</label>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input mdbCheckbox type="checkbox" formControlName="tipoCoche"  value="{{tiposReserva[0].value}}" [ngClass]="{'is-invalid': tipoCocheF.errors && (tipoCocheF.touched || tipoCocheF.dirty), 'is-valid':tipoCocheF.valid}"/> 
                        {{tiposReserva[0].name}}
                        <div class="invalid-feedback" >
                            <strong *ngIf="tipoCocheF.errors?.required">Tipo de viaje requerido</strong>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input mdbCheckbox type="checkbox" formControlName="tipoVuelo"  value="{{tiposReserva[1].value}}" [ngClass]="{'is-invalid': tipoVueloF.errors && (tipoVueloF.touched || tipoVueloF.dirty), 'is-valid':tipoVueloF.valid}"/> 
                        {{tiposReserva[1].name}}
                        <div class="invalid-feedback" >
                            <strong *ngIf="tipoVueloF.errors?.required">Tipo de viaje requerido</strong>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input mdbCheckbox type="checkbox" formControlName="tipoHotel"  value="{{tiposReserva[2].value}}" [ngClass]="{'is-invalid': tipoHotelF.errors && (tipoHotelF.touched || tipoHotelF.dirty), 'is-valid':tipoHotelF.valid}"/> 
                        {{tiposReserva[2].name}}
                        <div class="invalid-feedback" >
                            <strong *ngIf="tipoHotelF.errors?.required">Tipo de viaje requerido</strong>
                        </div>
                    </li>
                </ul>
            </div>
 
            <button class="btn btn-primary mr-2 mt-4">Buscar Reservas</button>

        </form>
        
    </div>
</div>