<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignUp
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="div form-group">
                        <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  [(ngModel)]="user.apellidos" name="apellidos" class="form-control" placeholder="Apellidos" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  [(ngModel)]="user.usuario" name="usuario" class="form-control" placeholder="Nombre de Usuario" required>
                    </div>
                    <div class="form-group">
                        <input type="password"  [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button  type="submit" class="btn btn-primary btn-block">
                        Registrarse
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
